*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
google-services.json
local.properties
*.keystore
.gradle
/build
local.properties
*.keystore
.gradle
/build
/.idea/deploymentTargetSelector.xml
/.idea/deviceStreaming.xml
